@pure-white : #FFFFFF;
@hard-black : #000000;
@sunset : #FD614E;

.section{
	text-align:center;
}

.masthead {
	h1 {
		font-size: 4em;
		color: @hard-black;
	}

	h2 {
		color: @hard-black;
	}

	h3 {
		color: @hard-black;
	}

	.clock {
		margin-left: 23%;
	}
}

#slider {
	margin-left: 25%;
	width: 50%;
}

td.col-table {
	width: 50%;
}

td.col {
	padding: 0 1.5em 0 1.5em;
}

table.stats {
	width: 100%;
	margin: 2% 15% 0% 12%;
}

em {
	color: @sunset;
}