.section {
  text-align: center;
}
.masthead h1 {
  font-size: 4em;
  color: #000000;
  margin-left: -5%;
}
.masthead h2 {
  color: #000000;
}
.masthead h3 {
  color: #000000;
}
.masthead .clock {
  margin-left: 30%;
}
#slider {
  margin-left: 25%;
  width: 50%;
}
table.stats {
  width: 50%!important;
  margin-left: 23%!important;
  margin-top: 5%!important;
}
em {
  color: #FD614E;
}
th,
td {
  text-align: center!important;
}
.title {
  margin: 2%;
}
