.section {
  text-align: center;
}
.masthead h1 {
  font-size: 4em;
  color: #000000;
  margin-left: -5%;
}
.masthead h2 {
  color: #000000;
}
.masthead h3 {
  color: #000000;
}
.masthead .clock {
  margin-left: 30%;
}
#slider {
  margin-left: 25%;
  width: 50%;
}
table.stats {
  width: 50%!important;
  margin-left: 23%!important;
  margin-top: 5%!important;
}
em {
  color: #FD614E;
}
th,
td {
  text-align: center!important;
}
.title {
  margin: 2%;
}
.arrow {
  position: fixed;
  bottom: -100%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/action/down-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.bounce {
  animation: bounce 2s infinite normal ease-out;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
