html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 100%;
}
body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}
html,
body {
  background: #ECF5FF;
}
body,
.uiview {
  height: 100%;
  width: 1450vh;
  overflow-y: hidden;
}
body,
p,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}
#bgColor {
  position: absolute;
  width: 1450vh;
  left: 0;
  background: #ECF5FF;
  top: 0;
  height: 100%;
}
.container {
  z-index: 1;
  overflow: hidden;
}
.container,
.scene {
  height: 100%;
  position: relative;
}
.scene {
  display: inline-block;
}
.scene .story-text {
  position: absolute;
  z-index: 9;
  background-size: contain;
  font-size: 3.5vh;
  color: #2f4f4f;
}
.full-width {
  height: 100%;
  width: 100%;
}
#harvest-scene .farm-background {
  background: url("../images/harvest/farm-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 4vh;
  left: 0vh;
  position: absolute;
  height: 67vh;
  width: 215vh;
}
#harvest-scene #windmill-fan {
  background: url("../images/harvest/windmill-fan.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 7;
  bottom: 62vh;
  left: 6.5vh;
  position: absolute;
  height: 17vh;
  width: 17vh;
  animation: windmillAnimation 10s infinite linear;
}
#harvest-scene .ground {
  background: url("../images/harvest/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 0vh;
  position: absolute;
  height: 19vh;
  width: 215vh;
}
#harvest-scene .cloud-2 {
  background: url("../images/common/cloud-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 68vh;
  left: 76vh;
  position: absolute;
  height: 25vh;
  width: 25vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#harvest-scene .cloud-1 {
  background: url("../images/common/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 55vh;
  left: 130vh;
  position: absolute;
  height: 10vh;
  width: 15vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#harvest-scene .cloud-3 {
  background: url("../images/common/cloud-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 65vh;
  left: 30vh;
  position: absolute;
  height: 17vh;
  width: 17vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#harvest-scene .farmer {
  background: url("../images/harvest/farmer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 19vh;
  left: 45vh;
  position: absolute;
  height: 32vh;
  width: 20vh;
}
#harvest-scene .orange-pile {
  bottom: 18vh;
  position: absolute;
}
#harvest-scene .orange-pile.good {
  background: url("../images/harvest/good-orange-pile.svg");
  background-size: contain;
  left: 54.24vh;
  background-repeat: no-repeat;
  z-index: 9;
  height: 16vh;
  width: 42vh;
}
#harvest-scene .orange-pile.bad {
  background: url("../images/harvest/bad-orange-pile.svg");
  background-size: contain;
  left: 30vh;
  background-repeat: no-repeat;
  z-index: 9;
  height: 8vh;
  width: 15vh;
}
#harvest-scene .trolley {
  background: url("../images/harvest/trolley.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 19vh;
  left: 85vh;
  position: absolute;
  height: 20vh;
  width: 24vh;
}
#harvest-scene .trolley-oranges-1 {
  background: url("../images/harvest/trolley-orange-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 96vh;
  position: absolute;
  height: 10vh;
  width: 10vh;
  display: none;
}
#harvest-scene .trolley-oranges-2 {
  background: url("../images/harvest/trolley-orange-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 92vh;
  position: absolute;
  height: 11vh;
  width: 10vh;
  display: none;
}
#harvest-scene .trolley-oranges-3 {
  background: url("../images/harvest/trolley-orange-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 94vh;
  position: absolute;
  height: 12vh;
  width: 10vh;
  display: none;
}
#harvest-scene .trolley-oranges-4 {
  background: url("../images/harvest/trolley-orange-4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 23vh;
  left: 91vh;
  position: absolute;
  height: 10vh;
  width: 11vh;
  display: none;
}
#harvest-scene .trolley-oranges-5 {
  background: url("../images/harvest/trolley-orange-5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 23vh;
  left: 93vh;
  position: absolute;
  height: 11vh;
  width: 14vh;
  display: none;
}
#harvest-scene .trolley-oranges-6 {
  background: url("../images/harvest/trolley-orange-6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 24.7vh;
  left: 96vh;
  position: absolute;
  height: 7vh;
  width: 10vh;
  display: none;
}
#harvest-scene .segregation-room {
  background: url("../images/harvest/segregation.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 11;
  bottom: 19vh;
  left: 185vh;
  position: absolute;
  height: 50vh;
  width: 65vh;
}
#harvest-scene #farm-I-text {
  display: none;
  opacity: 0;
  left: 110vh;
  bottom: 73vh;
  width: 80vh;
  height: 13vh;
}
#transportation-scene-I .mountains {
  background: url("../images/transportation/mountains.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 10vh;
  left: 230vh;
  position: absolute;
  height: 55vh;
  width: 76vh;
}
#transportation-scene-I .ground {
  background: url("../images/farm-transport/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 215vh;
  position: absolute;
  height: 19vh;
  width: 263vh;
}
#transportation-scene-I .trees {
  background: url("../images/farm-transport/trees.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 15vh;
  left: 335vh;
  position: absolute;
  height: 45vh;
  width: 263vh;
}
#transportation-scene-I .cloud-1 {
  background: url("../images/common/cloud-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 64vh;
  left: 291vh;
  position: absolute;
  height: 10vh;
  width: 15vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-I .cloud-2 {
  background: url("../images/common/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 73vh;
  left: 345vh;
  position: absolute;
  height: 20vh;
  width: 20vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-I .cloud-3 {
  background: url("../images/common/cloud-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 35vh;
  left: 245vh;
  position: absolute;
  height: 17vh;
  width: 17vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-I .truck {
  background: url("../images/farm-transport/food-truck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 16.5vh;
  left: 5vh;
  position: fixed;
  height: 24vh;
  width: 48vh;
}
#transportation-scene-I .truck.not-started {
  left: 220vh;
  position: absolute;
}
#transportation-scene-I .truck.stopped {
  left: 430vh;
  position: absolute;
}
#transportation-scene-I #food-truck {
  -webkit-animation: shakeCar .1s infinite alternate;
  animation: shakeCar 0.1s infinite alternate;
}
#transportation-scene-I #truck-parking-space {
  background: url("../images/farm-transport/truck-parking-space.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9;
  bottom: 13vh;
  left: 443.5vh;
  position: absolute;
  height: 35vh;
  width: 35vh;
}
#transportation-scene-I #transportation-I-text {
  display: none;
  opacity: 0;
  left: 375vh;
  bottom: 63vh;
  width: 80vh;
  height: 13vh;
}
@keyframes windmillAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cloudAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10vh);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shakeCar {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5vh);
    transform: translateY(0.5vh);
  }
}
@keyframes shakeSmoke {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5vh);
    transform: translateY(0.5vh);
  }
}
#food-processing-scene .ground {
  background: url("../images/processing/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 478vh;
  position: absolute;
  height: 19vh;
  width: 173.4vh;
}
#food-processing-scene .building-1 {
  background: url("../images/processing/building-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: -5vh;
  left: 478vh;
  position: absolute;
  height: 67vh;
  width: 87vh;
}
#food-processing-scene .building-2 {
  background: url("../images/processing/building-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: -5vh;
  left: 540.3vh;
  position: absolute;
  height: 94vh;
  width: 87vh;
}
#food-processing-scene .building-3 {
  background: url("../images/processing/building-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: -5vh;
  left: 585.3vh;
  position: absolute;
  height: 94vh;
  width: 97vh;
}
#food-processing-scene .cloud-1 {
  background: url("../images/common/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 72vh;
  left: 478vh;
  position: absolute;
  height: 19vh;
  width: 27vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#food-processing-scene .cloud-2 {
  background: url("../images/common/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 72vh;
  left: 629.3vh;
  position: absolute;
  height: 19vh;
  width: 27vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#food-processing-scene .apparatus {
  background: url("../images/processing/apparatus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 19vh;
  left: 483.5vh;
  position: absolute;
  height: 43vh;
  width: 130vh;
}
#food-processing-scene .dial-one {
  background: url("../images/processing/rotary-dial-one.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 13;
  bottom: 50.5vh;
  left: 527vh;
  position: absolute;
  height: 3vh;
  width: 2vh;
  transform-origin: 90% 50%;
  animation: windmillAnimation 1s infinite linear;
}
#food-processing-scene .dial-two {
  background: url("../images/processing/rotary-dial-two.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 13;
  bottom: 50.5vh;
  left: 536vh;
  position: absolute;
  height: 3vh;
  width: 2vh;
  transform-origin: 0% 41%;
  animation: windmillAnimation 0.5s infinite linear;
}
#food-processing-scene .smoke {
  background: url("../images/processing/smoke.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  bottom: 63.5vh;
  left: 516vh;
  position: absolute;
  height: 10vh;
  width: 8vh;
  animation: shakeSmoke 0.5s infinite linear;
}
#food-processing-scene .cantilever {
  background: url("../images/processing/cantilever-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 20.5vh;
  left: 612vh;
  position: absolute;
  height: 19.5vh;
  width: 47vh;
}
#food-processing-scene .story-text {
  left: 552.5vh;
}
#food-processing-scene .oranges {
  background: url("../images/processing/oranges.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 40vh;
  left: 485.5vh;
  position: absolute;
  height: 7vh;
  width: 30vh;
}
#food-processing-scene .packaged-oranges {
  background: url("../images/processing/packaged-oranges.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 40vh;
  left: 528.5vh;
  position: absolute;
  height: 7vh;
  width: 8vh;
}
#food-processing-scene #food-processing-text {
  display: none;
  opacity: 0;
  left: 551.4vh;
  bottom: 73vh;
  width: 80vh;
  height: 13vh;
}
#transportation-scene-II .mountains {
  background: url("../images/transportation/mountains.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 10vh;
  left: 665vh;
  position: absolute;
  height: 30vh;
  width: 50vh;
}
#transportation-scene-II .ground {
  background: url("../images/transportation/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 651.4vh;
  position: absolute;
  height: 19vh;
  width: 215vh;
}
#transportation-scene-II .trees {
  background: url("../images/transportation/trees.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 15vh;
  left: 770vh;
  position: absolute;
  height: 45vh;
  width: 215vh;
}
#transportation-scene-II .cloud-1 {
  background: url("../images/common/cloud-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 64vh;
  left: 726vh;
  position: absolute;
  height: 10vh;
  width: 15vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-II .cloud-2 {
  background: url("../images/common/cloud-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 73vh;
  left: 780vh;
  position: absolute;
  height: 20vh;
  width: 20vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-II .cloud-3 {
  background: url("../images/common/cloud-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 35vh;
  left: 680vh;
  position: absolute;
  height: 20vh;
  width: 17vh;
  animation: cloudAnimation 30s infinite normal ease-out;
}
#transportation-scene-II .truck {
  background: url("../images/transportation/food-truck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 19vh;
  left: 3.6vh;
  position: fixed;
  height: 30vh;
  width: 60vh;
}
#transportation-scene-II .truck.not-started {
  left: 611.9vh;
  position: absolute;
}
#transportation-scene-II .truck.stopped {
  left: 806.4vh;
  position: absolute;
}
#transportation-scene-II #food-truck-2 {
  -webkit-animation: shakeCar .1s infinite alternate;
  animation: shakeCar 0.1s infinite alternate;
}
#transportation-scene-II .oranges {
  background: url("../images/transportation/food-truck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 18vh;
  left: 655vh;
  position: fixed;
  height: 20vh;
  width: 39vh;
}
#market .ground {
  background: url("../images/market/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 866.4vh;
  position: absolute;
  height: 19vh;
  width: 214vh;
}
#market .shelf-back {
  background: url("../images/market/shelf-back.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 866.4vh;
  position: absolute;
  height: 67vh;
  width: 214vh;
}
#market .girl {
  background: url("../images/market/girl_side_profile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 8;
  bottom: 19vh;
  left: 15vh;
  position: fixed;
  height: 32vh;
  width: 20vh;
}
#market .girl.not-started {
  background: url("../images/market/girl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 881.4vh;
  position: absolute;
}
#market .girl.stopped {
  background: url("../images/market/girl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 1128.4vh;
  position: absolute;
}
#market .shelf {
  background: url("../images/market/shelf.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 9vh;
  left: 945vh;
  position: absolute;
  height: 62vh;
  width: 90vh;
}
#market #market-text-I {
  display: none;
  opacity: 0;
  left: 950vh;
  bottom: 7vh;
  width: 86vh;
  height: 13vh;
}
#market #market-text-II {
  display: none;
  opacity: 0;
  left: 950vh;
  bottom: 85vh;
  width: 86vh;
  height: 13vh;
}
#market .oranges {
  cursor: pointer;
}
#market .oranges-top-shelf {
  background: url("../images/market/oranges-big-pile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 70.5vh;
  position: absolute;
  height: 10.5vh;
  width: 20vh;
}
#market .oranges-middle-shelf {
  background: url("../images/market/oranges-medium-pile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 50.5vh;
  position: absolute;
  height: 8vh;
  width: 16vh;
}
#market .oranges-bottom-shelf {
  background: url("../images/market/oranges-small-pile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 29.7vh;
  position: absolute;
  height: 6vh;
  width: 16vh;
}
#market .oranges-left-column {
  left: 950vh;
}
#market .oranges-middle-column {
  left: 981vh;
}
#market .oranges-right-column {
  left: 1012vh;
}
#market .cart {
  background: url("../images/market/cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 31.5vh;
  position: fixed;
  height: 22vh;
  width: 28vh;
}
#market .cart-filled {
  background: url("../images/market/cart-filled.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#market .cart.not-started {
  left: 907.9vh;
  position: absolute;
}
#market .cart.stopped {
  left: 1052.4vh;
  position: absolute;
}
#market .grocery-bag {
  background: url("../images/market/grocery-bag.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 30vh;
  position: fixed;
  height: 15vh;
  width: 28vh;
}
#market .grocery-bag.not-started {
  position: absolute;
  left: 1080.4vh;
}
#market .grocery-bag.stopped {
  background: url("../images/market/empty-grocery-bag.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 1180.4vh;
}
#market .story-text {
  left: 966.4vh;
}
#home .ground {
  background: url("../images/home/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 1080.4vh;
  position: absolute;
  height: 19vh;
  width: 215vh;
}
#home .clock {
  background: url("../images/home/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
  bottom: 79vh;
  left: 1153.4vh;
  position: absolute;
  height: 12vh;
  width: 17vh;
}
#home .window {
  background: url("../images/home/window.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
  bottom: 29vh;
  left: 1103.4vh;
  position: absolute;
  height: 54vh;
  width: 40vh;
}
#home .table {
  background: url("../images/home/table.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: -24.8vh;
  left: 1192.4vh;
  position: absolute;
  height: 62vh;
  width: 65vh;
}
#home .fruit-bowl {
  background: url("../images/home/fruitbowl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 36.2vh;
  left: 1202.4vh;
  position: absolute;
  height: 10vh;
  width: 17vh;
}
#home #home-text {
  display: none;
  opacity: 0;
  left: 1180.4vh;
  bottom: 73vh;
  width: 80vh;
  height: 13vh;
}
#garbage .ground {
  background: url("../images/landfill/ground.svg");
  background-repeat: repeat;
  background-size: contain;
  z-index: 6;
  bottom: 0vh;
  left: 1295.4vh;
  position: absolute;
  height: 19vh;
  width: 215vh;
}
#garbage .garbage {
  background: url("../images/landfill/garbage.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  bottom: 19vh;
  left: 1393.4vh;
  position: absolute;
  height: 42vh;
  width: 65vh;
}
#garbage #garbage-text {
  left: 1300vh;
  bottom: 75vh;
  width: 86vh;
  height: 13vh;
}
#garbage .arrow-side {
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  bottom: 39vh;
  left: 1380.4vh;
  position: absolute;
  height: 10vh;
  width: 15vh;
  background-image: url(../images/landfill/right-arrow.svg);
}
#garbage .swoosh {
  animation: slide 2s infinite normal ease-out;
}
@keyframes slide {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
