<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Get Involved</title>
	<meta name="author" content="Priyamvada, Qianxu, Samyak and Sachin" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="css/action.css" />
	<!-- Flipclock CSS -->
	<link rel="stylesheet" href="../js/flipclock/compiled/flipclock.css">
	<link rel="stylesheet" rel="text/stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">

</head>
<body>


	<div id="fullpage">
        <div class="section">
            <div class="ui container">
                <div class="title masthead">
                    <h1>Find your Footprint</h1>
                </div>
                <div class="ui form" id="form">
                    <div class="two fields">
                        <div class="field">
                            <label>How many oranges did you discard last
                            week?</label> <input id="oranges" placeholder=
                            "Number..." type="text">
                        </div>
                        <div class="field">
                            <label>What percentage of the United States population do you
                            estimate with a similar behavior?</label>
                            <div class="ui right labeled input">
                                <input id="percentage" placeholder="Percentage"
                                type="text">
                                <div class="ui basic label">
                                    %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui submit button" onclick=
                    "calculateFootprint()">
                        Calculate
                    </div>
                    <div class="ui small inline loader" id="loader"></div>
                </div>
                <div class="ui container" style=
                "margin-left: 22%!important; margin-top: 2%;">
                    <div class="ui grid">
                        <div class="three wide column">
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="orange-count">0</span>
                                </div>
                                <div class="label">
                                    tonnes
                                </div>
                            </div>
                            <p>of oranges is estimated to be wasted throughout
                            the United States at this rate</p>
                        </div>
                        <div class="three wide column">
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="niagara">0</span>
                                </div>
                                <div class="label">
                                    minutes
                                </div>
                            </div>
                            <p>of Niagara Flow Time is the required amount of
                            water to grow that many oranges</p>
                        </div>
                        <div class="three wide column">
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="football">0</span>
                                </div>
                                <div class="label">
                                    football fields
                                </div>
                            </div>
                            <p>is the net area that was used to grow that many
                            oranges throughout the United States</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="banner">
            <div class="masthead">
                <h1>The World's Food Clock</h1>
                <div class="clock"></div>
            </div>
            <table class="ui stats single line table">
                <thead>
                    <tr>
                        <th>Produced</th>
                        <th>Consumed</th>
                        <th>Wasted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="produced-amount">0</span>
                                </div>
                                <div class="label">
                                    Tonnes
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="consumed-amount">0</span>
                                </div>
                                <div class="label">
                                    Tonnes
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ui statistic">
                                <div class="value">
                                    <span id="wasted-amount">0</span>
                                </div>
                                <div class="label">
                                    Tonnes
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui text container">
                <br>
                <p>Want to get involved?</p>
                <div class="arrow bounce"></div>
            </div>
            <!-- <div class="ui container">
            <div class="ui input">
                <input id="save" type="text" placeholder="If I reduce waste by...%" onblur="foodsaved()">
            </div>
            <div class="ui small compact message">
              <p>The world could save <span id="saved-wastage">0</span> tonnes of food <em>every second.</em></p>
            </div>
        </div> -->
        </div>
        <div class="section">
            <div class="ui text container" style="text-align:left">
                    <h2>Spread the Word!<h2>
                    <!-- twitter Share button -->
                    <a class="twitter-share-button" data-hashtags="FoodWaste"
                            data-size="large" data-text=
                            "It's time to stop the waste! Now or Never." href=
                            "https://twitter.com/share">Tweet</a> 
                            <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                            </script>
                    <h2>Support campaigns</h2>
                        <a target="_blank" href="https://www.change.org/search?q=Food%20Waste"><img src="../images/action/changeorg.png" height="50%" width="50%"></img></a>
                    <h2>Take Part</h2>
                    <div class="ui bulleted list">
                        <div class="item"><a href="http://www.thinkeatsave.org/" target="_blank">Think. Eat. Save.</a></div>
                        <div class="item"><a href="http://www.endfoodwastenow.org/" target="_blank">End Food Waste Now.</a></div>
                    </div>
            </div>
        </div>
        <div class="section" style="text-align:left">
            <div class="ui text container">
                <div class="title">
                    <h1>Data Sources</h1>
                    <br/>
                </div>
                <table class="ui compact table">
                  <thead>
                    <tr>
                      <th>Data Sources</th>
                      <th>Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>World Data Atlas</td>
                      <td><a href="http://knoema.com/atlas/topics/Food-Security" target=_blank><i class="external share small icon"></i></a></td>
                    </tr>
                    <tr>
                      <td>FAOSTAT</td>
                      <td><a href="http://faostat3.fao.org/download/FB/FBS/E" target=_blank><i class="external share small icon"></i></a></td>
                    </tr>
                    <tr>
                      <td>Statista</td>
                      <td><a href="http://www.statista.com" target=_blank><i class="external share small icon"></i></a></td>
                    </tr>
                    <tr>
                      <td>LAFA - Loss adjusted food availability </td>
                      <td><a href="#" target=_blank><i class="external share small icon"></i></a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <!--  -->
        <div class="section" style="text-align:left">
            <div class="ui text container">
                <div class="title">
                    <h1>Research References</h1>
                    <br/>
                </div>
                <div class="ui bulleted list">
                  <div class="item">The World Consumes More Than 11 Million Pounds Of Food Every Minute Of Everyday</div>
                  
                  <div class="item">TEDx Talk: How To End The Food Waste Fiasco<a href="https://www.youtube.com/watch?v=w96osGZaS74" target=_blank><i class="external share small icon"></i></a></div>
                  
                  <div class="item">Reducing Food Loss and Waste<a href="http://www.wri.org/sites/default/files/reducing_food_loss_and_waste.pdf" target=_blank><i class="external share small icon"></i></a></div>
                  
                  <div class="item">A Food Waste Story<a href="http://zumvo.so/watch-just-eat-it-a-food-waste-story-2014-7440" target=_blank><i class="external share small icon"></i></a></div>

                  <div class="item">Story of Stuff<a href="http://storyofstuff.org/movies/" target=_blank><i class="external share small icon"></i></a></div>

                  <div class="item">End Food Waste Now.<a href="http://www.endfoodwastenow.org/" target=_blank><i class="external share small icon"></i></a></div>

                  <div class="item">Parfitt, J., Barthel, M., &amp; Macnaughton, S. (2010). Food waste within food supply chains: quantification and potential for change to 2050. Philosophical Transactions of the Royal Society of London B: Biological Sciences, 365(1554), 3065-3081.</div>

                   <div class="item">Lundqvist, J., de Fraiture, C., &amp; Molden, D. (2008). Saving water: from field to fork: curbing losses and wastage in the food chain.</div>

                   <div class="item">USDA and FAO reports - Toolkit: reducing food wastage footprint, Food waste footprint: Impact on natural resources</div>

                   <div class="item">Taste The Waste<a href="https://www.youtube.com/watch?v=Ci0HsPELE2o" target=_blank><i class="external share small icon"></i></a></div>

                   <div class="item">Food Waste Journalism<a href="https://www.youtube.com/watch?v=i8xwLWb0lLY" target=_blank><i class="external share small icon"></i></a></div>
                </div>
            </div>
        </div>
    </div>


</body>
<!-- Scripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.js"></script>
<script type="text/javascript" src="../js/flipclock/compiled/flipclock.js"></script>
<script src="../js/animateNumber/demo/jquery.color.min.js"></script>
<script src="../js/animateNumber/jquery.animateNumber.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/jquery.fullPage.min.js"></script>
<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			anchors: ['Food Clock', 'Footprint', 'Get Involved', 'Credits'],
			sectionsColor: ['#FFFFFF', '#FFFFFF', '#FFFFFF'],
			navigation: true,
			navigationPosition: 'right',
			navigationTooltips: ['World Clock Simulation', 'Find your Footprint', 'Get Involved', 'Credits']
		});
	});
</script>
<script src="../js/simulations.js"></script>
</html>