<!DOCTYPE html>
<html>
	<head>
		<title>tvmayirp Byte 4 - Visualization</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/tvmayirp-overrides.css" rel="stylesheet">
		<link href="css/special-objects.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top project-header">
      <div class="container">
      	<div class="page-title">
      		<h1>Final Project - Data Pipeline 05-839</h1>
      		<h2>Food & Nutrition Around the World</h2>
      	</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="foodviz1">Viz 1</a></li>
            <li><a href="foodviz2">Viz 2</a></li>
            <li><a href="foodviz3">Viz 3</a></li>
            <li><a href="foodviz4">Viz 4</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top project-header">
      <div class="container">
        <div class="page-title">
          <h1>Final Project - Data Pipeline 05-839</h1>
          <h2>Food & Nutrition Around the World</h2>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="foodviz1">Viz 1</a></li>
            <li><a href="foodviz2">Viz 2</a></li>
            <li><a href="foodviz3">Viz 3</a></li>
            <li><a href="foodviz4">Viz 4</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		<div id="outer-content">
			<div id="content-panel">
        <div style="text-align: center;">
          <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+col3+from+11xz6Bzpkf1Q5z99DRtRYHaTdaJ0ijBfP2eA-0qR5+order+by+col0+asc+limit+10&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
        </div>
        
         <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1HPV6HhW5lbnmPHV7gp1lcNy-Pa9ogDsyMRgijkuNdPs/pubchart?oid=116067638&amp;format=interactive"></iframe>

        <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1HPV6HhW5lbnmPHV7gp1lcNy-Pa9ogDsyMRgijkuNdPs/pubchart?oid=605843470&amp;format=interactive"></iframe>

        
      </div>
      

		</div>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>