<!DOCTYPE html>
<html>
<head>
  <title>Jack the Orange | An interactive story on Food Waste</title>

  <link href="css/food-wastage.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="full-width uiview">
    <div id="bgColor"></div>
    <div class="container full-width" id="scrollContainer">
    <section class="scene" id="transportation-scene">
      <div id="trigger1"></div>
      <div class="mountains"></div>
      <div class="ground"></div>
      <div class="trees"></div>
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
      <div id="food-truck" class="truck"></div>
    </section>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- The Scroll Magic Library START-->
  <script src="../js/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../js/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <!-- The Scroll Magic Library END-->

  <script type="text/javascript">
    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
      var tween = TweenMax.fromTo(".cloud-1", 1,
                    {left: -100},
                    {left: 100, repeat: -1, yoyo: true, ease: Circ.easeInOut}
                  );

      // build scene
      var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, offset: -50})
              .setTween(tween)
              .addIndicators({name: "loop"}) // add indicators (requires plugin)
              .addTo(controller);
  </script>
</body>
</html>