<!DOCTYPE html>
<html>
<head>
  <title>Jack the Orange | An interactive story on Food Waste</title>

  <link href="css/food-wastage.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="full-width uiview">
    <div id="bgColor"></div>
    <div class="container full-width" id="scrollContainer">
    <section class="scene" id="transportation-scene-I">
      <div id="food-truck" class="truck"></div>
      <div class="mountains"></div>
      <div class="trees"></div>
      <div class="ground"></div>
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
    </section>
    <section class="scene" id="food-processing-scene">
      <div class="apparatus"></div>
      <div class="building-1"></div>
      <div class="building-2"></div>
      <div class="building-3"></div>
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
    </section>
    <section class="scene" id="transportation-scene-II">
      <div class="mountains"></div>
      <div class="ground"></div>
      <div class="trees"></div>
      <div class="cloud-1"></div>
      <div class="cloud-2"></div>
      <div class="cloud-3"></div>
      <div id="food-truck-2" class="truck"></div>
    </section>
    <section class="scene" id="market">
      <div class="ground"></div>
      <div class="shelf-back"></div>
      <div class="girl"></div>
      <div class="shelf"></div>
    </section>
    <section class="scene" id="home">
      <div class="ground"></div>
      <div class="table"></div>
      <div class="window"></div>
      <div class="clock"></div>
      <div class="girl"></div>
      <div class="fruit-bowl"></div>
    </section>
    <section class="scene" id="garbage">
      <div class="ground"></div>
      <div class="garbage"></div>
    </section>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- The Scroll Magic Library START-->
  <script src="../js/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../js/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <!-- The Scroll Magic Library END-->
  <script src="../js/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="../js/greensock/TweenMax.min.js"></script>
  <script type="text/javascript" src="../js/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script type="text/javascript">
  // init controller
  var controller = new ScrollMagic.Controller({vertical: false});
  
  // create a scene for food truck
  new ScrollMagic.Scene({
        duration: "650vh",    // the scene should last for a scroll distance of 100vh
        offset: "5vh"        // start this scene after scrolling for 50vh
    })
    .setPin("#food-truck") // pins the element for the the scene's duration
    .addTo(controller); // assign the scene to the controller

    // create a scene
  new ScrollMagic.Scene({
        duration: "680vh",    // the scene should last for a scroll distance of 100vh
        offset: "1200vh"        // start this scene after scrolling for 50vh
    })
    .setPin("#food-truck-2") // pins the element for the the scene's duration
    .addTo(controller); // assign the scene to the controller
  </script>
  <script type="text/javascript">
    $(function() {

     $("body").mousewheel(function(event, delta) {

        this.scrollLeft -= (delta);
      
        event.preventDefault();

     });

  });

  </script>
</body>
</html>