<!DOCTYPE html>
<html>
<head>
  <title>Jack the Orange | An interactive story on Food Waste</title>

  <link href="css/food-wastage.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="full-width uiview">
    <div id="bgColor"></div>
    <div class="container full-width" id="scrollContainer">
      <section class="scene" id="harvest-scene">
        <div id="farm-I-text" class="story-text">
          <h3>Between 1% to 30% is not harvested depending on market conditions. This is known as "shrink"</h3>
        </div>
        <div class="farm-background"></div>
        <div id="windmill-fan"></div>
        <div class="orange-pile good"></div>
        <div class="orange-pile bad"></div>
        <div id="trolley" class="trolley"></div>
        <div id="trolley-oranges-1" class="trolley-oranges-1"></div>
        <div id="trolley-oranges-2" class="trolley-oranges-2"></div>
        <div id="trolley-oranges-3" class="trolley-oranges-3"></div>
        <div id="trolley-oranges-4" class="trolley-oranges-4"></div>
        <div id="trolley-oranges-5" class="trolley-oranges-5"></div>
        <div id="trolley-oranges-6" class="trolley-oranges-6"></div>
        <div class="ground"></div>
        <div class="cloud-1"></div>
        <div class="cloud-2"></div>
        <div class="cloud-3"></div>
        <div id="farmer" class="farmer"></div>
        <div class="segregation-room"></div>
      </section>
      <section class="scene" id="transportation-scene-I">
        <!-- <div id="transportation-I-text" class="story-text">
          <h3>Between 2% to 30% is removed in packing</h3>
        </div> -->
        <div id="food-truck" class="truck not-started"></div>
        <div class="mountains"></div>
        <div class="trees"></div>
        <div class="ground"></div>
        <div class="cloud-1"></div>
        <div class="cloud-2"></div>
        <div class="cloud-3"></div>
        <div id="truck-parking-space"></div>
      </section>
      <section class="scene" id="food-processing-scene">
        <div id="food-processing-text" class="story-text">
          <h3>Between 2% to 30% is removed in packing.</h3>
        </div>
        <div class="ground"></div>
        <div id="oranges-main" class="oranges"></div>
        <div id="packaged-oranges-one" class="packaged-oranges"></div>
        <div id="packaged-oranges-two" class="packaged-oranges"></div>
        <div id="packaged-oranges-three" class="packaged-oranges"></div>
        <div id="apparatus" class="apparatus"></div>
        <div class="building-1"></div>
        <div class="building-2"></div>
        <div class="building-3"></div>
        <div class="cloud-1"></div>
        <div class="cloud-2"></div>
        <div class="smoke"></div>
        <div class="dial-one"></div>
        <div class="dial-two"></div>
      </section>
      <section class="scene" id="transportation-scene-II">
        <div id="transportation-II-text" class="story-text">
          <h3></h3>
        </div>
        <div class="mountains"></div>
        <div class="ground"></div>
        <div class="trees"></div>
        <div class="cloud-1"></div>
        <div class="cloud-2"></div>
        <div class="cloud-3"></div>
        <div id="food-truck-2" class="truck not-started"></div>
      </section>
      <section class="scene" id="market">
        <div id="market-text-II" class="story-text">
          <h3>The main cause of food waste here is primarily due to aesthetics</h3>
        </div>
        <div class="ground"></div>
        <div id="market-shelf" class="shelf-back"></div>
        <div class="girl front-facing"></div>
        <div class="girl side-facing"></div>
        <div class="shelf"></div>
      </section>
      <section class="scene" id="home">
        <div id="home-text" class="story-text">
          <h3>One-fourth of all the food bought by consumers is thrown away</h3>
        </div>
        <div class="ground"></div>
        <div class="table"></div>
        <div id="home-window" class="window"></div>
        <div class="clock"></div>
        <div class="girl"></div>
        <div class="fruit-bowl"></div>
      </section>
      <section class="scene" id="garbage">
        <div id="garbage-text" class="story-text">
          <h3>That's the journey of the unfortunate orange, from it's roots to the garbage can. Wanna know how much impact this tiny action can have? Let's see.</h3>
        </div>
        <div class="ground"></div>
        <div class="arrow-side swoosh"></div>
        <a href="action">
          <div class="garbage"></div>
        </a>
      </section>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.0.js"></script>
  
  <script src="../js/jquery.mousewheel.min.js"></script>
  
  <script type="text/javascript" src="../js/animations/triggerHandler.js"></script>
  <script type="text/javascript" src="../js/animations/transportation.js"></script>
  
  <!-- Scroll Magic attempts -->
  <script src="../js/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../js/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <!-- Horizontal Scroll -->
  <!--<script type="text/javascript">
  // init controller
  var controller = new ScrollMagic.Controller({vertical: false});
  
    $(function() {

     $("body").mousewheel(function(event, delta) {

        this.scrollLeft -= (delta);
      
        event.preventDefault();

     });


  });
  </script>-->
  <script type="text/javascript" src="../js/animations/tweens.js"></script>
  <script type="text/javascript" src="../js/greensock/TweenMax.min.js"></script>
  <script type="text/javascript" src="../js/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
</body>
</html>